@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.navDiv {
    background-color: #44701B;
}
.titleH1 {
    font-size: 65px;
    font-family: 'Lobster', cursive;
    letter-spacing: 10px;
}
* {
    margin-top: 0;
}
nav {
    margin: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; 
}
.navLink {
    text-decoration: none;
    color: inherit;
    transition: 0.4s;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
}
.navLink:hover {
    color: white;
    letter-spacing: 5px;
}